* {
    --bk-gold: rgb(192,173,98);
    --shadow-button: rgb(75,75,75);
    --color-gold:rgb(192,173,98);
    --color-blue: rgb(0,104,172);
    --color-ocra: rgb(233,234,210);
    --color-lightGrey: rgb(168,161,143);
    --color-grey: rgb(80,81,76);
    /*--font-titoli-h1: "give me some sugar";
    --font-titoli-h2: "Hobo Std";*/
    --url-headerTitle: url('../board/Header.png');
}



