@font-face{
    font-family:"Ruritaria";
    src: url("../fonts/Ruritania.ttf");
}
.buttons{
    -fx-background-color: rgb(233,234,210);
    -fx-border-width: 3px;
    -fx-border-radius: 15px;
    -fx-background-radius: 18px;
}
.buttons:hover{
    -fx-border-color: rgb(255, 210, 48);/*0 255 100*/
    /*-fx-background-color: rgb(0, 102, 0);*/
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-width: 3px;
    -fx-border-radius: 15px;
    -fx-text-fill: rgb(255, 210, 48);
}

#background{
    -fx-background-color: black;
}
.panel{
    -fx-background-color: rgb(153, 140, 93);
    -fx-border-width: 2px;
    -fx-border-color: rgb(255, 235, 166) ;
    -fx-border-style: solid;
}
.lableText{
    -fx-text-fill: rgb(212, 173, 34);
    -fx-font-weight: bold;
}
.inputTypeText {
    -fx-border-color: black;   /*not working*/
}

.title {
    -fx-font-family: "Ruritaria";
}
.resourceImage:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

